/**** Reset css ****/
* { margin: 0; padding: 0;}

body {
	font-size: 62.5%;
	font-family: helvetica, georgia, arial, sans-serif;
	line-height: 2em;
}

ol, ul {
	list-style: none;
}
p {
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

img {
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: georgia, serif;
}

h2 {
	font-size: 2em;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

.clear {
	clear: both;
}

.float_left{
	float: left;
}

.float_right {
	float: right;
}

.rounded_corners_bottom{
	-moz-border-radius-bottomleft: 7px;  /** for mozilla **/
	-moz-border-radius-bottomright: 7px;

	-webkit-border-bottom-left-radius: 7px;  /** for chrome, safari **/
	-webkit-border-bottom-right-radius: 7px;

	border-bottom-left-radius: 7px; /** for opera **/
	border-bottom-right-radius: 7px;
}

.rounded_corners_top{
	-moz-border-radius-topleft: 7px;  /** for mozilla **/
	-moz-border-radius-topright: 7px;

	-webkit-border-top-left-radius: 7px;  /** for chrome, safari **/
	-webkit-border-top-right-radius: 7px;

	border-top-left-radius: 7px; /** for opera **/
	border-top-right-radius: 7px;
}

/**** End reset css ****/

/** end of tooltip **/
#wrapper{
	width: 700px;
	margin: 40px auto;
}

#wrapper img#loading{
	position: absolute;
	top: 186px; left: 450px;
	display: none;
}

#container{
	position: relative;
	z-index: 1000;
}
/** begin list of products **/
#prod_list{
	float: left;
	width: 500px;
}

#prod_list li{
	display: inline;
	float: left;
	position: relative;
	margin: 0 0 19px 26px;
	opacity: 0.5;
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

#prod_list li:hover{
	opacity: 1;
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

#prod_list li img.ajax_load{
	position: absolute;
	top: 78px; left: 62px;
	display: none;
}

#prod_list li div.content h1{
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #000;
	padding: 5px;
}

#prod_list li div.content p{
	padding: 5px 0 2px 0;
	background-color: #DFF2F7;
	text-align: center;
	padding: 5px;
	position: relative;
}

#prod_list li div.content p span{
	position: absolute;
	top:0; left: 0.9px;
	font-weight: 600;
	font-size: 13px;
	display: block;
	width: 117px;
	background-color: #EAECEE;
	color: #DC0029;
	padding: 0 9px;
	border-bottom: 2px solid #B6B6B6;
	border-left: 2px solid #B6B6B6;
	border-right: 2px solid #B6B6B6;
	-webkit-border-bottom-left-radius: 4px;  /** for chrome, safari **/
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;  /** for firefox **/
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;  /** for opera **/
	border-bottom-right-radius: 4px;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

#prod_list li:hover div.content p span{
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

#prod_list li div.content a{
	font-size: 13px;
	background-color: #CFCFCF;
	color: #2E2EDF;
	display: block;
	padding: 2px 0px;
	text-align: center;
	font-weight: 600;
}

/** end of list of products **/

/** begin cart **/
#cart{
	float: right;
	margin-right: -60px;
	width: 180px;
	position: relative;
}

#cart h1{
	text-align: center;
	font-size: 15px;
	padding: 5px;
	background: #AFAFAF;
}
#cart p{
	border-bottom: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	height: 50px;
	padding: 7px;
	
}

#cart p img.loadbrief{
	position: absolute;
	display: none;
}

#cart p span{
	display: block;
	font-size: 13px;
}

#cart  p a img{
	position: absolute;
	top: 41px; right: 5px;
	display: block;
}

#cart:hover span.help{
	display: block;
}

#cart span.help{
	font-weight: 600;
	font-size: 12px;
	position: absolute;
	bottom: -10px; right: -10px;
	display: none;
}

/** end of cart **/

/** box cart **/
#box{
	position: fixed;
	top: 24px; left: 204px;
	background: #fff;
	border: 5px solid #1F1F1F;
	display: none;
}

#box p.close{
	background-color: #EFEFEF;
	position: relative;
	height: 23px;
	border-bottom: 1px solid #BFBFBF;
}

#box p.close span:first-child{
	position: absolute;
	top: 1px; right: 92px;
}

#box p.close span:first-child:hover{
	cursor: pointer;
}

#box p.close span:last-child{
	position: absolute;
	top: 2px; right: 13px;
}

#box p.back{
	background-color: #EFEFEF;
	padding: 5px;
	border-top: 1px solid #BFBFBF;
}

#box p.back span{
	color: #6F6F6F;
	font-size: 13px;
}

#box p.back span:hover{
	cursor: pointer;
}

/** end of box cart **/

/** begin cart detail **/
	
	#cart_detail table{
		width: 600px;
		margin: 0 auto;
		border-collapse: collapse;
		
	}

	#cart_detail caption{
		background: url(images/heading.gif) repeat-x;
		line-height: 35px;
		width: 600px;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-align: left;
		text-indent: 15px;
		
	}
	
	#cart_detail caption span{
		float: left;
		display: block;
		height: 0px;
		margin-top: 5px;
	}

	#cart_detail thead{		
		background-color: #b9b9b9;
		font-size: 12px;	
	}
	
	#cart_detail thead tr th{
		border-bottom: 1px solid #DFDFDF;
		border-left: 1px solid #DFDFDF;
		border-right: 1px solid #DFDFDF;
	}
	
	#cart_detail thead tr th a{
		color: #000;
		text-decoration: underline;
	}
	
	#cart_detail thead tr th:first-child{
		width: 120px;
	}

	/** body of cart **/
	#cart_detail tbody{
		text-align: center;
		position: relative;
	}

	#cart_detail tbody tr td{
		border: 1px solid #DFDFDF;
	}
	
	#cart_detail tbody tr td:first-child{
		font-size: 12px;
		color: #309949;
		font-weight: 600;
	}

	#cart_detail tbody tr td.price span{
		font-size: 14px;
		color: #F11111;
		font-weight: 700;
	}

	#cart_detail tbody tr td{
		padding: 5px;
	}
	
	#cart_detail tbody tr td.quantity p:first-child{
		position: relative;
	}
	
	#cart_detail tbody tr td.quantity p:last-child img{
		display: none;
	}
	
	#cart_detail tbody tr td.quantity a.remove_lnk{
		position: absolute;
		top: 5px; right: 12px;
	}
	
	#cart_detail tbody tr td.quantity a.remove_lnk span{
		background: url(images/remove.png) no-repeat center top;
		width: 12px; height: 12px;
        overflow: hidden;
        display: block;
	}
	
	#cart_detail tbody tr td.quantity a.remove_lnk:hover span{
		background: url(images/remove.png) no-repeat center bottom;
	}

	#cart_detail tbody tr td input{
		width: 40px; height: 15px;
		padding: 2px 5px;
	}
	
	#cart_detail tbody tr td input:focus{
		background-color: #F4F9A4;
	}
	
	/** end of body **/

	/** footer of cart **/
	#cart_detail tfoot {
		color: #fff;
		
	}
	
	#cart_detail tfoot tr:first-child{
		background-color: #000;
	}
	
	#cart_detail tfoot tr:first-child td{
		padding: 3px 0;		
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
	#cart_detail tfoot tr:first-child td{	
		font-size: 13px;
		font-weight: 600;
		text-align: right;
	}
	#cart_detail tfoot tr:first-child td span{
		width: 107px;
		text-align: center;
		float: right;
		font-size: 14px;
		font-weight: 700;
	}
	
	#cart_detail tfoot tr:last-child td{
		padding: 10px 0 2px 0;
	}
	
	#cart_detail tfoot tr:last-child td a:first-child span{
		background: url(images/cart-update.png) no-repeat center top;
		width: 74px; height: 24px;
		float: left;
		margin-left: 20px;
	}
	
	#cart_detail tfoot tr:last-child td a:first-child span:hover{
		background: url(images/cart-update.png) no-repeat center bottom;
	}
	
	#cart_detail tfoot tr:last-child td a:last-child span{
		background: url(images/cart-checkout.png) no-repeat center top;
		width: 94px; height: 24px;
		float: right;
		margin-right: 20px;
	}
	
	#cart_detail tfoot tr:last-child td a:last-child span:hover{
		background: url(images/cart-checkout.png) no-repeat center bottom;
	}

	/** end of footer **/

/** end of cart detail **/

#loading{
	position: fixed;
	left: 400px; top: 211px;
	display: none;
}
#waiting{
	position: fixed;
	left: 525px; top: 211px;
	display: none;
}







